.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 50%
    right: 70%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: #212529 !important
.banner-principal .tarjeta
  background-position: left 50% !important
.banner-principal__row .banner-principal__img
  width: 400px !important    
.banner-interno__titulo__icono i
  color: $color-primario
figcaption
  font-weight: normal
.titulo-segundo:after 
  border-left-color: #F96E97
.bgbanner
  background-color: #F96E97
  border-radius: 20px
.acordion__accion__btn--a
  background-color: #fee3b3
.bg2
  background-color: #FCC5D5
  border-radius: 20px

.w-card-icon
  width: min-content
  z-index: 1

.w-card-text
  position: relative
  padding-left: 50px
  padding-right: 50px
  left: -30px
  top: 8px
  width: fit-content  
.bloque-texto-f.color-acento-contenido:before 
  background-color: #EFFAF4
.p-3.pb-0.p-md-4.pb-md-0.mb-3.tarjeta.tarjeta--azul.acordion__activo
  background-color: #CDB8FD
// ajustes portada 
.banner-principal__row .banner-principal__img
  width: 470px !important  
.banner-interno__fondo    
  background-image: url("../assets/curso/portada/banner_interno.png") !important
.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  padding-left: 1rem !important
.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6
  color: #12263f

.linea-tiempo-d.color-acento-botones .linea-tiempo-d__item--selected .linea-tiempo-d__item__content 
    background-color: #CDB8FD
.linea-tiempo-d .tarjeta 
    border-radius: 5px
.tarjeta--gris  
    background-color: #FFCEF7
.linea-tiempo-d.color-acento-botones.activo .linea-tiempo-d__item--selected .linea-tiempo-d__item__number 
    background-color:#CDB8FD
.linea-tiempo-d.color-acento-botones.activo .linea-tiempo-d__item__number 
    background-color: #FFCEF7
.fondo1
  background: url('../assets/curso/Tema1/fondoslyder.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center 
.fondo11
  background: url('../assets/curso/Tema1/fondo1.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: cover
.tarjetablanca 
  background-color:#ffff
  border-radius: 20px

.h5color 
  color: #824FFB

.slyder-a__btn--sigt, .slyder-a__btn--atrs 
  background-color: #fee3b3
  border: 1px solid #fee3b3
.slyder-a__bullets__item--active 
  background-color: #f96e97
  border-color: #f96e97
  opacity: 1
.bgver
  background-color: #DAF2E4
  border-radius: 20px
.bg5  
  background-color: #FCC5D5
  border-radius: 20px
.w-card-text2
  position: relative
  padding-left: 15px
  padding-right: 15px
  top: 8px
  width: fit-content  
.slyder-a__bullets__item 
  width: 10px
  height: 10px
  background-color: #ff95b5
.bg-color
  &-1
    background-color: #DAF2E4 !important
 


.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/portada/cel-banner-principal.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 14% !important 
    h1, p
      color: $white

.banner-principal  
  @media (min-width: 768px) and (max-width: 1024px)
    .tarjeta
      background-image: url('../assets/curso/portada/tablet-banner-principal.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 8% !important 
    h1, p
      color: $white
